button {
    padding: 25px 45px;
    border-radius: 45px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.primary {
    background: var(--primary-gradient);
    color: var(--white-color);
    border: none;
    transition: .3s ease;
}

.primary:hover {
    box-shadow: -1px 0px 5px 0px rgba(160,154,154,0.71);
    -webkit-box-shadow: -1px 0px 5px 0px rgba(160,154,154,0.71);
    -moz-box-shadow: -1px 0px 5px 0px rgba(160,154,154,0.71);
}


.secondary {
    background: transparent;
    color: var(--white-color);
    border: 2px solid var(--white-color);
    transition: 0.3s ease;
}

.secondary:hover {
    background-color: var(--white-color);
    color: #222;
}