@import url('./assets/styles/fonts.css');

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color: #39c6bb;
  --primary-gradient: linear-gradient(180deg, #39c6bb 0, #1c867d 64%, #39c6bb 100%);
  --secondary-color: #222;
  --white-color: #f0f0f0;
  --grey-color: #f9f9f9;
}
